/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #181818;
}

#bloc_page
{
    width: 80%;
    margin: auto;
}

@media all and (max-width:1024px) {
    #bloc_page
    {
        width:auto;
    }
    
}
section h1,section h2, footer h1, nav a
{
    font-family: Dayrom,serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img
{
    width: 59;
    height: 60;
}

header h1
{
    font-family: 'BallparkWeiner',serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'Dayrom',serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

@media all and (max-width: 1024px) {
    nav 
    {
        width:auto;
        text-align: left;
    }

    nav ul 
    {
        flex-direction: column;
    }

    nav li 
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }

    #prem_bloc
    {
        display:none;
    }

    section 
    {
        flex-direction: column;
    }

    article, aside 
    {
        width: auto;
        margin-bottom: 15px;
    }

    #fleche_bulle
    {
        display: none;
    }

    #ptof img
    {
        width: 110px;
        float: right;
        margin-left:15px;
    }

    aside p:last-child
    {
        text-align: center;
    }
}

#prem_bloc
{
    background: url('images/sanfrancisco.jpg') no-repeat;
    height: 200px;
    width: auto;
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 4px 4px #181818;
}

#barre_inferieur
{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 33px;
    width: 99.5%;
    border-radius: 0 0 15px 15px;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    padding-top: 0px;
    padding-left: 4px;
}

.bouton_rouge
{
    position: absolute;
    right: 5px;
    bottom:5px;
    color: white;
    background: url('images/fond_degraderouge.png');
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

.ico_ep
{
    vertical-align: middle;
    margin-right: 8px;
}

section
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#tof
{
    border: 1px solid #181818;
}

#ptof
{
    text-align: center;
}

aside img
{
    margin-right: 7px;
}

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

#tweet
{
    width: 28%;
}

#my_photos
{
    width: 32%;
    margin-left: auto;
    margin-right:auto ;
}

#friends
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    width: 29%;
}

#friends ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}


#friends a
{
    text-decoration: none;
    color: #760001;
}